@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
	@apply bg-white border rounded-lg p-7 py-4 border-neutral-200/60
}

.btn {
	@apply inline-flex items-center justify-center px-4 py-2 text-sm font-medium tracking-wide transition-colors duration-200 bg-white border-2 rounded-xl text-neutral-700 border-neutral-400/70 enabled:hover:bg-neutral-100 active:bg-white disabled:opacity-50
}

.iconBtn {
	@apply inline-flex items-center justify-center text-sm font-medium tracking-wide transition-colors duration-200 bg-white border-2 rounded-xl text-neutral-700 border-neutral-200/70 enabled:hover:bg-neutral-100 active:bg-white disabled:opacity-50
}

.iconBtn img {
	@apply m-[8px] mx-3
}

.btn img {
	@apply mr-2
}

h5 {
	@apply text-xl font-semibold leading-none tracking-tight text-neutral-900
}

.loader {
	display: inline-block;
	border: 3px solid #f3f3f3;
	border-radius: 50%;
	border-top: 3px solid black;
	width: 15px;
	height: 15px;
	-webkit-animation: spin 2s linear infinite;
	/* Safari */
	animation: spin 2s linear infinite;

	visibility: hidden;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.caption {
	@apply mr-10
}

.transcript-item {
	@apply rounded-lg p-2 border border-white hover:bg-neutral-100 hover:border-neutral-200 items-start
}

.transcript-item button {
	visibility: hidden;
}


.transcript-item:hover button {
	visibility: visible;
}
