/* inter-regular - latin */
@font-face {
	font-display: swap;
	/* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	src: url('../assets/fonts/inter-v13-latin-regular.woff2') format('woff2');
	/* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-700 - latin */
@font-face {
	font-display: swap;
	/* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	src: url('../assets/fonts/inter-v13-latin-700.woff2') format('woff2');
	/* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-800 - latin */
@font-face {
	font-display: swap;
	/* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Inter';
	font-style: normal;
	font-weight: 800;
	src: url('../assets/fonts/inter-v13-latin-800.woff2') format('woff2');
	/* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-900 - latin */
@font-face {
	font-display: swap;
	/* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Inter';
	font-style: normal;
	font-weight: 900;
	src: url('../assets/fonts/inter-v13-latin-900.woff2') format('woff2');
	/* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


/* tag */

p {
	margin: 0;
	padding: 10px;
}

a {
	text-decoration: none;
	color: black;
	margin: 0;
	padding: 0;
	display: block;
}

button {
	background: none;

	border: 2px solid whitesmoke;
	border-color: rgb(209 213 219);
	border-radius: 999px;

	padding-top: .5rem;
	padding-bottom: .5rem;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
}

button:hover {
	background-color: rgb(241 245 249);
}

h {
	font-size: 18px;
	padding: 0;
	margin: 0;
}

/* font */

.inter-normal {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.inter-semibold {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}

.text-lg {
	font-size: 1.125rem;
	line-height: 1.75rem;
}

/* utils */

.h-s {
	height: 20px;
}

.rounded-full {
	border-radius: 999px;
}

.flex {
	display: flex;
	flex-direction: row;
}

.gap-s {
	gap: 10px;
}

.space-between {
	justify-content: space-between;
}

.vcenter {
	align-items: center;
}

.vend {
	align-items: end;
}

/* padding */
.p-s {
	padding: 20px;
}

.py-2 {
	padding-top: .5rem;
	padding-bottom: .5rem;
}

.px-5 {
	padding-left: 1.25rem;
	padding-right: 1.25rem;
}

/* margins */

.my-s {
	margin-top: 20px;
	margin-bottom: 20px;
}

.mt-s {
	margin-top: 20px;
}

.m-s {
	margin: 20px;
}

.ml-s {
	margin-left: 20px;
}

.mr-s {
	margin-right: 20px;
}

.mx-m {
	margin-left: 50px;
	margin-right: 50px;
}

.dialog {
	border: 2px solid whitesmoke;
	border-radius: 10px;
}

@media screen and (max-width: 1000px) {
	.viewport-l {
		visibility: hidden;
	}
}

@media screen and (min-width: 1000px) {
	.viewport-s {
		visibility: hidden;
	}
}

/* components */

.loader {
	display: inline-block;
	border: 3px solid #f3f3f3;
	border-radius: 50%;
	border-top: 3px solid black;
	width: 15px;
	height: 15px;
	-webkit-animation: spin 2s linear infinite;
	/* Safari */
	animation: spin 2s linear infinite;

	visibility: hidden;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.transcript-item:hover {
	background: whitesmoke;
}
